.Container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .Thumbnail {
    width: 100px; /* Adjust based on your desired thumbnail size */
    height: auto;
    cursor: pointer;
    border: 1px solid grey;
    transition: border-color 0.3s;
  }

  .Thumbnail:hover {
    border-color: #007BFF; /* Change to your desired highlight color */
    box-shadow: 2px 2px 2px #007BFF; ;
  }
