.Container {
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
    width: 200px;
    margin-left: 25px;
  }

  .Thumbnail {
    width: 50px; /* Adjust based on your desired thumbnail size */
    height: auto;
    cursor: pointer;
    border: 1px solid grey;
    transition: border-color 0.3s;
  }

  .Thumbnail:hover {
    border-color: #007BFF; /* Change to your desired highlight color */
    box-shadow: 2px 2px 2px #007BFF; ;
  }

  .traitName {
    font-family: monospace, monospace;
    font-weight: bold;
    text-decoration: underline;
    margin: 25px;
  }

  .traitName:hover {
    color:#007BFF;
    cursor: pointer;
  }
